<!doctype html>
<html lang="en">
    <head>
        <title>Network Visualizer</title>
        <meta charset="utf-8">
        <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div id="chartdiv"></div>
        <span class="note">Using <b>default template</b></span>

        <form method="post" enctype="multipart/form-data">
            <div>
                <label for="file">Select an XML file to upload</label>
                <input type="file" id="file" name="file" accept="text/xml">
            </div>
            <input type="submit" value="Upload">
        </form>

        {% include "dependencies.html" %}
        <script src="{{ url_for('static', filename='js/chart.js') }}"></script>
    </body>
</html>
